@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --corBlue:#0F9AFE;
    --corW:#FFFFFF;
    --corW400:#EFF8FF;
    --corG:#6E7275;
    --corW200:#EFF8FF;
    --corGL:#DBDBDB;
    --corG200:#293145;

    --font1: "Sora", sans-serif;
    --font2: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 50.5%;
}

body{
   height: 400vh;
   background-color: var(--corW);
}

header{
  max-width: 1000px;
  width: 90%;
  height: 46px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li{
    display: inline;
    padding: 4px 27px 4px 48px;
}
nav li a{
    display: inline;
    text-decoration: none;

    font-family: var(--font2);
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--corG);
}
nav li a:hover{
    color: #293145;
    transition: .5s;
}
main{
    margin: auto;
    max-width: 1500px;
    position: relative;
}
.primeiroConteudo{
    background-color: var(--corW200);
    height: 590px;
    position: relative; 
}

.conteudo{
    max-width: 1000px;
    position: absolute;
    top: 0%;
    left: 13%;
    display: flex;
    align-items: center;
    
}
.conteudo > h1{
    font-family: var(--font1);
    font-weight: 600;
    font-size: 4.8rem;
    color: var(--corG200);
    line-height: 6.3rem;
    margin: 0%;
}

.button{
    position: absolute;
    bottom: 11%;
}
.estiloButton{
    padding: 16px 36px 16px 36px;
    display: block;
    border-radius: 50px;
    background-color: var(--corBlue);
    color: white;
    border: none;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.329);
}
.estiloButton > a{
    text-decoration: none;
    color: white;
    padding: 14px 33px 14px 38px;
    margin: -3px -25px 0px -28px;
    
}
.estiloButton:hover{
    background-color: #054c80;
    transition: .9s;
}
.imgJovem{
    width: 500px;
    height: 500px;
}

/*Segunda seção*/

.informacoes{
   
    max-width: 700px;
    height: 270px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    margin-top: 4%;
}

.informacoes h3{
    font-family: var(--font1);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.0rem;
    text-align: center;
    margin-top: 14%;  
}

.incones{
    text-align: center;
}

.informacoes p{
    font-size: 1.6rem;
    color: #6E7275;
    margin-top: 13%;
    width: 155px;
    text-align: center;
}

.Infos > h2{
    font-size: 4.0rem;
    font-weight: 600;
    font-family: var(--font1);
    line-height: 11rem;
    text-align: center;
    color: #293145;
}

/*Terceira seção*/
.background{
    background-color: var(--corW200);
    height: 475px;
    position: relative; 
}
.conteudoMain{
    display: flex;
    justify-content: space-between;
    
    position: absolute;
    top: 0%;
    left: 13%;
    max-width: 1000px;
    width: 90%;
    margin: auto;
}
.text > h2{
    width: 600px;
    height: 35px;

    font-family: var(--font1);
    font-size: 3.2rem;
    font-weight: 600;
    color: #293145;
    


}
.text> p{
    flex: none;
    width: 421px;
    height: 78px;
    margin-top: 0%;
    position: absolute;
    left: 0%;
    top: 42%;

    font-size: 1.6rem;
    font-family: var(--font2);
    font-weight: 400;
    line-height: 2.6rem;
    color: #6E7275;

}
.conteudoMain > .imgNoti{
    margin-top: 4%;
}

.text{
    margin-top: 12%;
}
.conteudoTerceira{
    position: absolute;
    top: 60%;
    left: 13%;
}


/**/
.planos{
    max-width: 1000px;
    width: 90%;
    margin: auto;
}

.textPlanos{
    text-align: center;
    text-align: center;
    margin-top: 33px;
}
.textPlanos > h2{
    font-family: var(--font1);
    font-weight: 600;
    font-size: 4.0rem;
    color: #293145;
    
}
.textPlanos > p{
    color: black;
    font-family: var(--font2);
    font-weight: 400;
    font-size: 1.8rem;
    color:#6E7275;
    margin-top: -2%;
    line-height: 2.9rem;
    margin-top: 14px;
}
.tiposPlanos{
    display: flex;
    justify-content: center;
    margin-top: 7%;
    
    
    
}
.planoBronze, .planoPrata, .planoOuro{
    width: 370px;
    height: 400px;
    margin-right:3%;
    border-radius: 8px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.089);
}

.planoBronze, .planoOuro{
    background-color:#EFF8FF;
}
.planoPrata{
    background-color: #293145;
    
}
.colorPrata {
    color: white;
    font-family: var(--font1);
    font-weight: 600;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 25px ;
    
}
.preferido{
    width: 150px;
    height: 22px;
    background-color: #0F9AFE;
    border-radius: 15px;
    margin: auto;
    margin-top:-5%;
    
}
.preferido p{
    text-align: center; 
    font-family: var(--font1);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.0rem;
    text-transform: uppercase;
    color: #FFFFFF;
    font-style: none;
    margin-top: 22px;
}

 .color_B_O{
    font-family: var(--font1);
    font-weight: 600;
    font-size: 2.6rem;
    color: #293145;
    text-align: center;
    margin-top: 30px ;
}

.valores{
    font-family: var(--font2);
    font-weight: 700;
    font-size: 5.0rem;
    color: #293145;
    text-align: center;
    position: absolute;
    left: 29%;
    top: 27%;
}
.valoresPrata{
    font-family: var(--font2);
    font-weight: 700;
    font-size: 5.5rem;
    color: white;
    text-align: center;
    margin: 6%;
}
sup, span{
    font-size: 2.0rem;
}
.beneficios,.beneficiosPrata{
    font-family: var(--font2);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 22px;
    color:#6E7275;
    text-align: center;
    width: 273px;
    margin: auto;
    position: absolute;
    top: 48%;
    left: 6%;
}
.beneficiosPrata{
      color: white; 
}
.butao{
    text-align: center;
}
.buttonPlanos{
    width: 230px;
    height: 43px;
    border-radius: 50px;
    border: none;
    background-color: #0F9AFE;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.37);
    position: absolute;
    bottom: 10%;
    left: 13%;
    cursor: pointer;
}
.buttonPlanos:hover{
    background-color: #054c80;
    transition: .9s;
    width: 235px;
}
button a{
    text-decoration: none;
    font-family: var(--font2);
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 22px;
    color:white;
}

  
.planoOuro{
    margin: 0;
}




